.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body{
  background-color: hsl(217, 54%, 11%);
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
}
.main-div{
  background-color: hsl(216, 50%, 16%);
  height: 65vh;
  width: 20vw;
  /* justify-content: center; */
  border-radius: 12px;
  padding: 18px;
  margin: auto;
  /* position: absolute; */
  /* justify-content: center; */
  /* align-self: center; */
  margin-top: 15vh;
}
/* class of the equilibrim image */
.equilibrium{
  height: 55%;
  width: 100%;
  border-radius: 8px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
.main-text{
  color: white;
  font-size: large;
  font-weight: 300;
}
.motto{
  color: rgba(245, 245, 245, 0.429);
  font-weight: 100;
  font-size: small ;
}
/* class that makes the avatar img, icon and text appear on the same line */
.img-text{
  display: flex;
  align-items: center;
}
.clock-eth-line{
  justify-content: space-between;
}

.icon{
  margin-right: 7px;
  height: 15px;
}
.avatar{
  height: 23px;
  border: 0.5px solid white;
  border-radius: 50%;
  margin-right: 15px;
}
hr{
  height: 0.5px;
  background-color: hsl(214, 29%, 25%);
  border: none;
  margin: 2px 0;

}